<!DOCTYPE html>
<html lang="ro">
<head>
    <title>FER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block head %} {% endblock %}

</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
        </div>
        <nav>
            <!-- Elementele de navigare -->
        </nav>
    </header>
{% block content %} {% endblock %}
</body>
</html>